@font-face {
    font-family: 'Troglodyte Pop';
    src: url('../fonts/TroglodytePop.woff2') format('woff2'),
        url('../fonts/TroglodytePop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Troglodyte';
    src: url('../fonts/Troglodyte.woff2') format('woff2'),
        url('../fonts/Troglodyte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet Kosmos';
    src: url('../fonts/PlanetKosmos.woff2') format('woff2'),
        url('../fonts/PlanetKosmos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
